<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <meta charset="UTF-8">
        <title>Sign Up</title>
    </head>
    <body>
        <div class="header" th:insert="shared/header :: header">
        </div>
        <div class="sign-form">
            <div th:if="${message!=null}">
                 <div style="color:red;" th:text="#{__${message}__}"></div><br/>
            </div>
            <div style="color:red;" th:if="${param.error}">
                Invalid username and password.<br>
            </div>
            <div style="color:green;" th:if="${param.logout}">
                You have signed out.<br>
            </div>
            <form name="f" method="POST" th:action="@{sign-in}">
                <label class="form-label" th:text="#{label.login}"></label>
                <input type="text" id="username" name="username"><br/><br/>

                <label class="form-label" th:text="#{label.password}"></label>
                <input type="password" id="password" name="password"><br/><br/>

                <input type="submit">
            </form>
        </div>
    </body>
</html>