<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <meta charset="UTF-8">
        <title>Sign Up</title>
    </head>
    <body>
        <div class="header" th:insert="shared/header :: header">
        </div>
        <div class="sign-form">
            <div th:if="${message!=null}">
                 <div style="color:red;" th:text="${message}"></div><br/>
            </div>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <form method="POST" action="sign-in">
                <label class="form-label" th:text="#{label.login}"></label>
                <input type="text" name="login"><br/><br/>

                <label class="form-label" th:text="#{label.password}"></label>
                <input type="password" name="password"><br/><br/>

                <input type="submit">
            </form>
        </div>
    </body>
</html>