<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <meta charset="UTF-8">
        <title>Admin Panel</title>
    </head>
    <body>
        <div class="header" th:insert="shared/header :: header">
        </div>
        <div th:if="${message!=null}">
        <div style="color:red;" th:text="#{__${message}__}"></div><br/>
        </div>
        <table>
            <tr>
                <td>id</td>
                <td>login</td>
                <td>password</td>
                <td>full name</td>
                <td>email</td>
                <td>complaints</td>
                <td>service</td>
            </tr>
            <block th:each="i : ${inspectors}">
                <form th:action="@{change(id=${i.id})}" method="POST">
                    <tr>
                        <td><input type="text" th:value="${i.id}" readonly/></td>
                        <td><input type="text" th:value="${i.username}" name="username"></td>
                        <td><input type="text" value="" name="password"></td>
                        <td><input type="text" th:value="${i.fullName}" name="full_name"></td>
                        <td><input type="text" th:value="${i.email}" name="email"></td>
                        <td><input type="text" th:value="${i.complaintNumber}" name="complaints"></td>
                        <td><input type="text" th:value="${i.reportsInService}" name="service"></td>
                        <td><input type="submit" th:value="Change"></td>
                    </tr>
                </form>
            </block>
            <form action="add" method="POST">
            <tr>
                <td><input type="text" value="?" readonly/></td>
                <td><input type="text" value="" name="username"></td>
                <td><input type="text" value="" name="password"></td>
                <td><input type="text" value="" name="full_name"></td>
                <td><input type="text" value="" name="email"></td>
                <td><input type="text" value="" name="complaints"></td>
                <td><input type="text" value="" name="service"></td>
                <td><input type="submit" value="Add New"></td>
            </tr>
            </form>

        </table>
    </body>
</html>