<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <meta charset="UTF-8">
        <title>Sign Up</title>
    </head>
    <body>
        <div class="header" th:insert="shared/header :: header">
        </div>
        <div class="sign-form">
         <h2>User info:</h2>
                         <label class="form-label">id:</label>
                         <label th:text=${session.user.id}></label><br/><br/>

                         <label class="form-label" th:text="#{label.login}"></label>
                         <label th:text=${session.user.login}></label><br/><br/>

                         <label class="form-label" th:text="#{label.company}"></label>
                         <label th:text=${session.user.company}></label><br/><br/>

                         <label class="form-label" th:text="#{label.email}"></label>
                         <label th:text=${session.user.email}></label><br/><br/>

                         <label class="form-label" th:text="#{label.full}"></label>
                         <label th:text=${session.user.fullName}></label><br/><br/>

                         <label class="form-label" th:text="#{label.passport}"></label>
                         <label th:text=${session.user.passport}></label><br/><br/>

                         <label class="form-label" th:text="#{label.address}"></label>
                         <label th:text=${session.user.address}></label><br/><br/>

                         <label class="form-label" th:text="#{label.tax}"></label>
                         <label th:text=${session.user.group}></label><br/><br/>
        </div>
    </body>
</html>