<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="header">
        <div class="logo">
            TAX REPORTING
            <a href="/"><img id="home-logo" th:src="@{/graphics/home.png}" height="20" width="30"></a>
            <a class="nav-link" href="/?lang=us"><img th:src="@{/graphics/us.png}" height="20" width="30"></a>
            <a class="nav-link" href="/?lang=ua"><img th:src="@{/graphics/ua.png}" height="20" width="30"></a>
            <a class="nav-link" href="/?lang=ru"><img th:src="@{/graphics/ru.png}" height="20" width="30"></a>
            <a class="nav-link" href="/?lang=jp"><img th:src="@{/graphics/jp.png}" height="20" width="30"></a>
        </div>
        <div class="home">
            <div sec:authorize="hasAuthority('USER')">
                    <a class="nav-link" href="/user/profile" sec:authentication="name"></a>
                    <a class="nav-link" href="/user/all-reports" th:text="#{label.my-rep}"></a>
                    <a class="nav-link" href="/user/new-report" th:text="#{label.new-rep}"></a>
                    <a class="nav-link" href="/auth/sign-out" th:text="#{label.exit}"></a>
            </div>
            <div sec:authorize="hasAuthority('INSPECTOR')">
                    <a class="nav-link" href="/inspector/profile" sec:authentication="name"></a>
                    <a class="nav-link" href="/inspector/reports" th:text="#{label.ins-rep}"></a>
                    <a class="nav-link" href="/auth/sign-out" th:text="#{label.exit}"></a>
            </div>

            <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" href="/admin/panel" th:text="#{label.panel}"></a>
                    <a class="nav-link" href="/auth/sign-out" th:text="#{label.exit}"></a>
            </div>

            <div sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/auth/sign-up" th:text="#{label.reg}"></a>
                    <a class="nav-link" href="/auth/sign-in" th:text="#{label.log}"></a>
            </div>
        </div>
    </div>
</body>
</html>